:root {
  font-family: 'RedHatText', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: #29120A;
  background-color: #FCF8F5;
}

/* Definindo a versão Regular */
@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Definindo a versão SemiBold */
@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Definindo a versão Bold */
@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Definindo a versão Itálica para todos os pesos */
@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Ou definir faixas específicas */
  font-style: italic;
}

/* Definindo a versão variável (apenas se necessário) */
@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Faixa de pesos variável */
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
input {
  outline: none;
}